<div class="slider">
	<ul class="slider-list">
		<li class="slider-element">
			<img src="../../Static/IMG/ny.jpg" alt="New York"/>
		</li>
		<li class="slider-element">
			<img src="../../Static/IMG/spb.jpg" alt="Saint Petersburg"/>
		</li>
		<li class="slider-element">
			<img src="../../Static/IMG/london.jpg" alt="London"/>
		</li>
	</ul>
	<div class="slider-arrow-left">
		<p class="arrowTxt">Prev</p>
	</div>
	<div class="slider-arrow-right">
		<p class="arrowTxt">Next</p>
	</div>
	<div class="slider-dots"></div>
</div>