<!--<div class="slider">
	<div class="firstImg">
		<img src="../../Static/IMG/ny.jpg" alt="New York" />
		<button style="position: absolute; left: 0;"></button>
	</div>
	<div class="secondImg">
		<img src="../../Static/IMG/spb.jpg" alt="Saint Petersburg" />
	</div>
	<div class="thirdImg">
		<img src="../../Static/IMG/london.jpg" alt="London" />
	</div>
</div>-->


<div class="slider">
	<div class="slider-hider">
		<ul class="slider-list">
			<li class="slider-element">
				<img src="../../Static/IMG/ny.jpg" alt="New York" />
			</li>
			<li class="slider-element">
				<img src="../../Static/IMG/spb.jpg" alt="Saint Petersburg" />
			</li>
			<li class="slider-element">
				<img src="../../Static/IMG/london.jpg" alt="London" />
			</li>
		</ul>
	</div>
</div>